
<input type="text" placeholder="Emer" name="" id=""[(ngModel)]="Emer"><br>
<input type="text" placeholder="Mbiemer" name="" id=""[(ngModel)]="Mbiemer"><br>
<select [(ngModel)]="SLenda">
    <option *ngFor="let lend of Lenda" [ngValue]="lend">
        {{lend.Lenda}}
    </option>
</select>
{{SLenda.Lenda}}
<br>

<select [(ngModel)]="SDega">
    <option *ngFor="let deg of Dega" [ngValue]="deg">
        {{deg.Dega}}
    </option>
</select>
<br>

<select [(ngModel)]="SVitiLenda">
    <option *ngFor="let vlend of VitiLenda" [ngValue]="vlend">
        {{vlend.VitiLenda}}
    </option>
</select>

<br>
<select [(ngModel)]="SVitiStudent">
    <option *ngFor="let student of VitiStudent" [ngValue]="student">
        {{student.VitiStudent}}
    </option>
</select>
<br>
<select [(ngModel)]="SParaleli">
    <option *ngFor="let paralel of Paraleli" [ngValue]="paralel">
        {{paralel.Paraleli}}
    </option>
</select>
<br>
<input type="text" placeholder="Nr Studentesh"  [(ngModel)]="NrStrudent"><br>
<input type="checkbox" value="1" [(ngModel)]="Kapur" checked>
    Kapur
<br> {{Kapur}} <br>
<input type="checkbox" value="aa" [(ngModel)]="Paradiplomim"
disabled>Paradiplomim
<br>{{Paradiplomim}}

<button (click)="importLendet()">Save</button>
<button (click)="clearInput()">Cancel</button>


